@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0 100px;
    background: rgb(165, 152, 135);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: gray;
    top: 0;
    z-index: 10;
}

.navigation .header-links {
    display: flex;
    flex-direction: row;
}

.header-links li {
    list-style: none;
    margin: 0 20px;
}

.header-links li a {
    text-decoration: none;
    color: black;
}

.header-links li a:hover {
    font-size: 18px;
    background: rgb(150, 147, 147);
    padding: 3px;
    border-radius: 6px;
}

.logo {
    width: 50px;
    height: auto;
}

img {
    width: 100%;
}

.brand {
    display: flex;
}

.brand p {
    font-size: 24px;
    font-weight: 600;
    padding: 0 12px;
    color:rgb(108, 224, 219)
}

.hero {
    font-size: 48px;
    position: relative;
    background: rgb(69, 83, 40);
}

.hero h1 {
    position: relative;
    z-index: 10;
    padding: 100px;
    color: white; 
}

.hero .attention {
    color: rgb(201, 199, 199);
    font-size: inherit;
}

.hero .attention:hover {
    font-size: 78px;
    background: none;
    padding: 0px;
    border-radius: 6px;
}

.hero .background {
    width: 700px;
    position: absolute;
    right: 0;
    bottom: 0;
}

section {
    display: flex;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects > .title, .skills > .title, .contact > .title {
    font-size: 36px;
}

.project-list {
    display: flex;
    flex-direction: row;
}

.project-list .project {
   margin: 20px; 
   padding: 10px;
   background: rgb(214, 213, 213);
   border-radius: 12px;
   box-shadow: 5px 5px 4px #e4e0e0;
   display: flex;
   width: 30%;
}

.project-list .project .prev {
    width: 40%;
    display: flex;
    align-items: center;
}

.project-list .project .desc {
    flex-basis: 1;
    padding-left: 10px;
}

.project-list .project:hover {
    font-size: 18px;
    background: rgb(243, 237, 237);
    padding: 3px;
    border-radius: 6px;
    background-color: #e4e0e0;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .skill {
    display: flex;
    width: 30%;
    align-items: center;
    margin: 20px; 
    padding: 10px;
    background: rgb(226, 225, 225);
    border-radius: 12px;
    box-shadow: 5px 5px 4px #e9e7e7;
    justify-content: center;  
}

.skills .skill .prev {
    width: 20%;
    padding: 10px;
    display: flex;

    
}

.skill-list {
    display: flex;
}

.skills .skill .desc {
    flex-basis: 1;
    padding: 10px;
    
}

.skills .skill .prev img {
    width: 100%;
    flex-direction: column;
    
}

.skills .skill:hover {
    background-color: rgb(235, 230, 230);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .title {
    padding: 0;
    margin: 10px;
}

.contact-form {
    width: 60%;
}

.contact-form form {
    padding: 0px 20px;
    box-sizing: border-box;
    box-shadow: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form form input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
}

.contact-form form input:focus {
    outline: none;
    background: rgb(177, 175, 175);
}

.contact-form form #submit {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 16px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    background: rgb(124, 121, 122);
}
    

.social {
    display: flex;
}

.social .social-links {
    display: flex;
    margin: 20px;
}

.social .social-icon {
    margin: 6px;
}

.social .social-icon:hover {
    transform: scale(1.1);
    background: gray;
    border-radius: 12px;
}

.footer {
    background: gray;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.footer .social-icon {
    width: 32px;
}

.menu_btn{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    box-sizing: border-box;
}

.menu_btn .menu_hamburger {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 1.5px;
    z-index: 21;
    transition: all .5s ease;
}

.menu_hamburger::before,
.menu_hamburger::after{
        content: '';
        position: absolute;
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 1.5px;
        transition: all .5s ease;
}

.menu_hamburger::before{
    transform: translateY(-9px);
}

.menu_hamburger::after{
    transform: translateY(9px);
}

.menu_items{
    background:  gray;
    color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    top: -110%;
    transition: all .5s ease-in-out;
    left: 0;
    z-index: 20;
    box-shadow: -2px -2px 10px #242323;
    box-sizing: border-box;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu_btn input:checked ~.menu_items{
    top: 0;
}

.menu_items li{
    padding: 20px 10px;
    text-align: center;
    list-style-type: none;
    transition: all .2s ease;
    font-size: 24px;
    transition: all .2s ease-out;
}

.menu_items li a {
    color: inherit;
    text-decoration: none;
}

.menu_items li:hover{
    letter-spacing: 2px;
    opacity: .6;
}

.menu_btn input:checked ~.menu_hamburger{
    transform: translateX(-50px);
    background: transparent;
}

.menu_btn input:checked ~.menu_hamburger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu_btn input:checked ~.menu_hamburger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.menu_btn input{
    display: none;
}


@media screen and (max-width: 600px) {
    html {
        width: 100%;
        background: none;
    }

    body {
        margin: 10px;
    }

    .navigation .header-links {
        display: none;
    }

    .menu_btn {
        display: flex;
    }

    .hero {
        font-size: 24px;
        height: 100vh;
        display: flex;
        align-items: center;
        text-align: right;
    }

    .hero h1 {
        padding: 10px;
        margin: 10px;
    }

    .projects .project-list, .skills .skill-list {
        flex-direction: column;
        margin: 0;
        box-sizing: border-box;
    }

    .projects .project-list .project, .skills .skill-list .skill {
        width: inherit;
        box-sizing: border-box;
    }

    .contact .contact-form {
        width: 100%;
        
    }
}
